@use 'style/common/screen.scss' as screen;

$width: 310px;

.cards {
  display: grid;
  width: 100%;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax($width, max-content));
  justify-content: center;
}

.card {
  width: $width;
  height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--color-gray);
  border-radius: 20px;

  &,
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &__picture {
    width: 100%;
  }

  &__text {
    width: 100%;
    padding: 20px;
    height: 112px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    text-align: left;
    transition: all 0.3s;
  }

  &:hover &__subheader,
  &:active &__subheader,
  &:focus &__subheader {
    color: var(--color-red);
  }

  &__header {
    padding-bottom: 8px;

    &--work {
      color: var(--color-purple);
    }

    &--health {
      color: var(--color-green);
    }

    &--harmony{
      color: var(--color-pink);
    }
  }

  &__description {
    padding-top: 8px;
  }

  &__info {
    padding-top: 20px;
  }

  &__superpowers {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }

  &__superpower {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 4px 0;
    text-transform: capitalize;
  }

  &__rating {
    display: flex;
    gap: 12px;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__star {
    width: 14px;
    height: 16px;

    &--disabled {
      opacity: 0.1;
    }
  }
}
