@use 'style/common/screen.scss' as screen;

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  list-style: none;

  @media (max-width: screen.$md - 1px) {
    gap: 0;
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    border-radius: 12px;
    padding: 12.21px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;

    @media (max-width: screen.$md - 1px) {
      padding: 12px 8px;
    }

    &:link,
    &:visited {
      color: inherit;
    }

    &:hover,
    &:active,
    &:focus,
    &--active {
      background: var(--color-red-light);
      color: var(--color-red);
    }

    &--active {
      pointer-events: none;
    }
  }

  &--dark {
    .menu__link {
      &:hover,
      &:active,
      &:focus,
      &--active {
        background: var(--color-white-lighter);
        color: inherit;
      }
    }
  }
}
