@use '../common/screens.scss' as screen;

.about {
  padding: 60px 82px;
  background: url(assets/home/common/bg-snow.png) center / cover repeat-y, var(--color-red);

  @media (max-width: screen.$md) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (max-width: screen.$sm) {
    padding-top: 108px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: var(--color-white);
    color: var(--color-black);

    @media (max-width: screen.$sm) {
      flex-direction: column;
    }
  }

  &__text {
    padding: 0 60px;
    width: 546px;

    @media (max-width: screen.$md) {
      width: 50%;
    }

    @media (max-width: screen.$sm) {
      padding: 60px 20px;
      width: 100%;
    }
  }

  &__caption {
    color: var(--color-red);
  }

  &__header.h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__picture {
    width: 638px;
    height: 528px;
    border-radius: 20px;

    @media (max-width: screen.$md) {
      width: 50%;
      object-fit: cover;
    }

    @media (max-width: screen.$sm) {
      width: 100%;
    }
  }
}
