.about {
  padding: 60px 82px;
  background: url(assets/home/common/bg-snow.png) center / cover repeat-y, var(--color-red);

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: var(--color-white);
    color: var(--color-black);
  }

  &__text {
    padding: 15px 60px 0;
    width: 546px;
  }

  &__caption {
    color: var(--color-red);
  }

  &__header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__picture {
    border-radius: 20px;
  }
}
