@use 'style/common/screen.scss' as screen;

.slider {
  padding: 60px 82px;
  background: url(assets/home/common/bg-snow.png) center / cover repeat-y, var(--color-red);
  color: var(--color-white);
  text-align: center;
  overflow: hidden;

  @media (max-width: screen.$lg - 1px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__header.h2 {
    margin-top: 13px;
    margin-bottom: 20px;
  }

  &__items {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
  }

  &__picture {
    border-radius: 20px;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
    gap: 20px;
  }

  &__control.button {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 56px;
      height: 56px;
    }
  }
}
