@use 'style/common/screen.scss' as screen;

.hero {
  padding: 120px 0 0;
  height: 524px;
  background: url(assets/home/hero/bg-ball.png) center / cover no-repeat, url(assets/home/common/bg-snow.png) center / cover repeat-y, var(--color-red);
  border-radius: 20px 20px 0 0;
  text-align: center;
  color: var(--color-white);

  @media (max-width: screen.$lg - 1px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (max-width: screen.$md - 1px) {
    height: 570px;
  }

  &__button {
    margin: 15px 0 12px;
  }

  &__header.h1 {
    width: 430px;
    margin: 10px auto 0;

    @media (max-width: screen.$md - 1px) {
      width: 100%;
    }
  }
}
