.button {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    display: inline-block;
    padding: 20px 32px;
    background: var(--color-black);
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &--outline {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      border: 1px solid var(--color-black);
      background: transparent;
    }
  }

  &--disabled {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
