@use 'style/common/screen.scss' as screen;

.footer {
  padding: 60px 82px;
  background: var(--color-white);

  @media (max-width: screen.$lg - 1px) {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__cards {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: screen.$lg - 1px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 12px;
    background: var(--color-gray);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s;

    &,
    &:link,
    &:visited {
      color: var(--color-black);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--color-red);
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__copyrights {
    padding-top: 60px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__social {
    transition: all 0.3s;

    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      img {
        border: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      path {
        stroke: var(--color-red);
        transition: all 0.3s;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--color-red);
    }
  }
}

.up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  display: none;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border: 1px solid var(--color-red);
  border-radius: 100px;
  transition: all 0.3s;

  &--visible {
    display: flex;
  }

  img {
    width: 24px;
    height: 24px;
    border: 0;
  }
}
