.footer {
  padding: 60px 82px;
  background: var(--color-white);

  &__cards {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 12px;
    background: var(--color-gray);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s;

    &,
    &:link,
    &:visited {
      color: var(--color-black);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--color-red);
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
  }

  &__copyrights {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__social {
    transition: all 0.3s;

    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      img {
        border: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      path {
        stroke: var(--color-red);
        transition: all 0.3s;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--color-red);
    }
  }
}
