:root {
  --color-red: #FF4646;
  --color-red-light: rgba(255, 70, 70, 0.1);
  --color-black: #181C29;
  --color-white: #FFFFFF;
  --color-gray: #ECF3F8;
  --color-purple: #4361FF;
  --color-green: #06A44F;
  --color-pink: #FF43F7;
}
